{%- comment -%}
【本ファイルについて】
・このファイルは、コレクションをタブ表示するためのセクションを定義しているliquidファイルです。
・このliquidファイルの最下部でCSSを定義してあります。
・CSS定義の":root{}"において、下記のパラメータのカスタマイズができます。
  --collectionTab-underlineSize: 下線の太さ
  --collectionTab-underlinePadding: タブ名と下線の間隔
  --collectionTab-underlineDuration: 下線アニメーション時間
  --collectionTab-sideMargin: タブ間の左右の間隔
  --collectionTab-bottomMargin: タブ間の上下の間隔
  --collectionTab-fontSize-pc: タブ名のフォントサイズ_PC (ヘッダーサイズに対する倍率)
  --collectionTab-fontSize-mobile: タブ名のフォントサイズ_スマホ (ヘッダーサイズに対する倍率)
・上記以外のパラメータに関しても自由にカスタマイズできます。
・カスタマイズによって起きた問題には責任を負いかねます。バックアップなどを取り、注意して操作してください。
©️ IT工房 HoriWorks - 2022年09月19日
{%- endcomment -%}

{%- comment -%} ----- Tabs ----- {%- endcomment -%}
<div class="page-width">
  <ul class="collection-tab_tab-wrapper">
  {% for block in section.blocks -%}
    {%- if forloop.first == true -%}
      {%- assign sellected_tab_class = "collection-tab_tab-active" -%}
    {%- else -%}
      {%- assign sellected_tab_class = "" -%}
    {%- endif -%}
    <li class="collection-tab_tab"><span id="CollectionTabSection-Tab-{{ block.id }}" class="{{ sellected_tab_class }}">{{  block.settings.collection.title }}</span></li>
  {%- endfor %}
  </ul>
</div>

{%- comment -%} ----- Each collection ----- {%- endcomment -%}
{%- assign per_row = section.settings.per_row -%}
{%- assign product_limit = per_row | times: section.settings.rows -%}

{% for block in section.blocks -%}
{%- assign collection = collections[block.settings.collection] -%}

{%- if forloop.first == true -%}
  {%- assign sellected_collection_class = "collection-tab_content-display" -%}
{%- else -%}
  {%- assign sellected_collection_class = "collection-tab_content-hide" -%}
{%- endif -%}

<div
  id="CollectionTabSection-Collection-{{ block.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-grid"
  class="{{ sellected_collection_class }}">
    <div class="page-width">
      <div class="section-header{% if section.settings.view_all %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
        <h2 class="section-header__title">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.view_all and section.settings.rows == 1 -%}
          <a href="{{ collections[block.settings.collection].url }}" class="btn btn--secondary btn--small section-header__link">{{ 'collections.general.all_of_collection' | t }}</a>
        {%- endif -%}
      </div>
    </div>

  <div class="page-width{% if section.settings.mobile_scrollable %} page-width--flush-small{% endif %}">
    <div{% if section.settings.mobile_scrollable %} class="grid-overflow-wrapper"{% endif %}>
      <div class="grid grid--uniform"{% if section.settings.mobile_scrollable %} data-aos="overflow__animation"{% endif %}>
        {%- liquid
          assign grid_item_width = 'small--one-half medium-up--one-third'

          case per_row
            when 1
              assign grid_item_width = ''
            when 2
              assign grid_item_width = 'medium-up--one-half'
            when 3
              assign grid_item_width = 'small--one-half medium-up--one-third'
            when 4
              assign grid_item_width = 'small--one-half medium-up--one-quarter'
            when 5
              assign grid_item_width = 'small--one-half medium-up--one-fifth'
          endcase
        -%}

        {%- if block.settings.collection == blank or collections[block.settings.collection].empty? or collections[block.settings.collection].products_count == 0 -%}

          {%- unless emptyState -%}
            {%- assign emptyState = true -%}
          {%- endunless -%}

          <div class="grid__item">
            <div class="grid grid--uniform">
              {%- for i in (1..product_limit) -%}
                <div class="grid__item grid-product {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
                  <div class="grid-product__content">
                    <a href="{{ product.url | within: collection }}" class="grid-product__link">
                      <div class="grid-product__image-mask">
                        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                        <div class="image-wrap">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
                      </div>
                      <div class="grid-product__meta">
                        <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                        <div class="grid-product__price">$29</div>
                      </div>
                    </a>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>

        {%- else -%}

          {%- for product in collections[block.settings.collection].products limit: product_limit -%}
            {%- render 'product-grid-item',
              product: product,
              collection: collection,
              per_row: per_row,
              quick_shop_enable: settings.quick_shop_enable
            -%}
          {%- endfor -%}

          {%- if section.settings.view_all -%}

            {%- if section.settings.rows > 1 -%}
              <div class="grid__item text-center{% if section.settings.mobile_scrollable %} small--hide{% endif %}">
                <a href="{{ collections[block.settings.collection].url }}" class="btn">{{ 'collections.general.all_of_collection' | t }}</a>
              </div>
            {%- endif -%}

            {%- if section.settings.mobile_scrollable -%}
              <div class="grid__item grid__item--view-all text-center {{ grid_item_width }} medium-up--hide">
                <a href="{{ collections[block.settings.collection].url }}" class="grid-product__see-all">
                  {{ 'collections.general.view_all_products_html' | t: count: collection.products_count }}
                </a>
              </div>
            {%- endif -%}

          {%- endif -%}

        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endfor %}

<script type="text/javascript">
  // Prepare an ID list of tabs and collections
  const num_of_tabs = {{ section.blocks.size }};
  let tab_id_list = Array(num_of_tabs);
  let collection_id_list = Array(num_of_tabs);
  {%- for block in section.blocks %}
  tab_id_list[{{ forloop.index0 }}] = "CollectionTabSection-Tab-{{ block.id }}";
  collection_id_list[{{ forloop.index0 }}] = "CollectionTabSection-Collection-{{ block.id }}";
  {%- endfor %}
  // Set click event listener on tabs
  let index = 0;
  for (index = 0; index < num_of_tabs; index++) {
    let tab_obj = document.getElementById(tab_id_list[index]);
    tab_obj.addEventListener('click', {index: index, handleEvent: switchActiveTab}, false);
  }
  // Function to switch between tab underline and collection display
  function switchActiveTab(e) {
    let list_index = 0;
    for (list_index = 0; list_index < num_of_tabs; list_index++) {
      let collection_obj = document.getElementById(collection_id_list[list_index]);
      let tab_obj = document.getElementById(tab_id_list[list_index]);
      if (list_index === this.index) {
        collection_obj.classList.remove('collection-tab_content-hide');
        collection_obj.classList.add('collection-tab_content-display');
        tab_obj.classList.add('collection-tab_tab-active');
      } else {
        collection_obj.classList.remove('collection-tab_content-display');
        collection_obj.classList.add('collection-tab_content-hide');
        tab_obj.classList.remove('collection-tab_tab-active');
      }
    }
  }
</script>

{%- schema -%}
  {
    "name": "コレクションタブ",
    "settings": [
      {
        "type": "range",
        "id": "per_row",
        "label": "t:sections.featured-collection.settings.per_row.label",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "rows",
        "label": "t:sections.featured-collection.settings.rows.label",
        "default": 1,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "mobile_scrollable",
        "label": "t:sections.featured-collection.settings.mobile_scrollable.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "t:sections.featured-collection.settings.view_all.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "t:sections.featured-collection.settings.divider.label",
        "default": false
      }
    ],
    "templates": ["index"],
    "max_blocks": 6,
    "blocks": [
      {
        "name": "コレクション",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.home_featured_products.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "コレクションタブ",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{%- endschema -%}

{% stylesheet %}
:root {
  --collectionTab-underlineSize: 2px;
  --collectionTab-underlinePadding: 5px;
  --collectionTab-underlineDuration: 0.5s;
  --collectionTab-sideMargin: 15px;
  --collectionTab-bottomMargin: 15px;
  --collectionTab-fontSize-pc: 0.85;
  --collectionTab-fontSize-mobile: 0.73;
}
.collection-tab_tab span {
  font-size: calc(var(--typeHeaderSize)*var(--collectionTab-fontSize-mobile));
}
@media only screen and (min-width:769px) {
  .collection-tab_tab span {
    font-size:calc(var(--typeHeaderSize)*var(--collectionTab-fontSize-pc));
  }
}
.collection-tab_tab-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.collection-tab_tab {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px var(--collectionTab-sideMargin) var(--collectionTab-bottomMargin);
}
.collection-tab_tab span {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  padding: var(--collectionTab-underlinePadding);
}
.collection-tab_tab span:after {
  content:"";
  display: block;
  position: absolute;
  line-height: normal;
  bottom: calc(0px - var(--collectionTab-underlineSize));
  left: 0;
  right: 100%;
  margin: 0;
  border-bottom: var(--collectionTab-underlineSize) solid;
  border-bottom-color: var(--colorTextBody, #808080);
  transition: right var(--collectionTab-underlineDuration);
}
.collection-tab_tab span:hover:after {
  right: 0;
}
.collection-tab_tab span:hover {
  border: 0;
}
.collection-tab_tab-active {
  border-bottom: var(--collectionTab-underlineSize) solid;
}
.collection-tab_content-hide {
  display: none;
}
.collection-tab_content-display {
  display: block;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}